@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: 'Courier Prime';
    font-size: 12px;
    margin: 0;
    padding: 0;
}

body.index {
    background-color: white;
    height: 100vh;
    width: 100vw;
}

.center {
    background-color: black;
    color: white;
    height: 100vh;
    margin: 0 auto;
    width: 512px;
}
